 
                <div class="headerCategories">
                    <div class="headerCatIn">
                        <div class="categoriesAvatar2 left"></div>
                        <div class="left">
                            <div class="backtoCat">
                                <a href="index.html">
                                    <i class="icon-angle-left"></i>Back to Home</a>
                            </div>
                           </div>
                        <div class="shareButton right">
                            <a href="#">Profile</a>
                            <a href="#">Account</a>
                            <a href="#">Notifications
                                <span class="">97</span>
                            </a>
                        </div>
                    </div>
                    <div class="clearit"></div>
                </div>
                <!-- header categories : e -->
                <!-- content right : s -->
                <div class="contentRight boxRead">
                    <div class="contentRightIn">
                        <br />
                        <br />
                        <br />
                        <!-- profile : s -->
                        <div class="profile clearfix">
                           
                            <div class="detailProfile left boxEditAccount">
                                <!-- list : s -->
                                <div class="titleProfile">
                                    <span class="mainTitle">USER NAME</span>
                                    <span class="contentForm">
                                        <input type="text" value="Rizki Mardita" />
                                    </span>
                                </div>
                                <!-- list : e -->
                                <br />
                                <!-- list : s -->
                                <div class="titleProfile">
                                    <span class="mainTitle">EMAIL</span>
                                    <span class="contentForm">
                                        <input type="text" value="rizki_mardita@yahoo.com" />
                                    </span>
                                </div>
                                <!-- list : e -->
                                <br />
                                <!-- list : s -->
                                <div class="titleProfile">
                                    <span class="mainTitle">CURRENT PASSWORD</span>
                                    <span class="contentForm">
                                        <input type="password" value="password" />
                                    </span>
                                </div>
                                <!-- list : e -->
                                <br />
                                <!-- list : s -->
                                <div class="titleProfile">
                                    <span class="mainTitle">NEW PASSWORD</span>
                                    <span class="contentForm">
                                        <input type="password" value="password" />
                                    </span>
                                </div>
                                <!-- list : e -->
                                
                                
                                <br />
                                <br />
                                <br />
                                <br />
                                <a href="#" class="bLogin bProfile">
                                    Save
                                </a>
                            </div>
                        </div>
                        <!-- profile : e -->
                        <div class="clearit"></div>
                    </div>
                </div>
          