 
                <div class="headerCategories">
                  	 					<?=$this->view('frontend/setting/setting-nav')?>
                    <div class="clearit"></div>
                </div>
                <!-- header categories : e -->
                <!-- content right : s -->
                <div class="contentRight boxRead">
                    <div class="contentRightIn">
                        <br />
                        <br />
                        <br />
                        <!-- profile : s -->
                        <div class="profile clearfix">
                           <form method="POST" action="" id="newcommunityform" >
                            <div class="detailProfile left boxEditAccount">
                                <!-- list : s -->
                                <div class="titleProfile">
                                    <span class="mainTitle">YOUR COMMUNITY NAME</span>
                                    <span class="contentForm">
                                        <input type="text" value="" placeholder="please fill community name" name="cname" class="cmtnm" />
                                    </span>
                                </div>
                                <!-- list : e -->
                                <br />
                                <!-- list : s -->
                                <div class="titleProfile">
                                    <span class="mainTitle">YOUR COMMUNITY LOGO</span>
                                    <span class="contentForm">
                                        <input type="file" value=""  name="imglogo" class="imglogo"  />
                                    </span>
                                </div>
                                <!-- list : e -->
                                <br />
                                <!-- list : s -->
                                <div class="titleProfile">
                                    <span class="mainTitle">THIS IS PRIVATE COMMUNITY ? </span>
                                    <span class="contentForm">
                                        <input type="radio" name="prvcmt"  value="0" style="min-width:10px" /> YES
                                        <input type="radio" name="prvcmt"  value="1" style="min-width:10px" checked /> NO
                                    </span>
                                </div>
                                <!-- list : e -->
                                <br />
                               
                                
                                <br />
                                <br />
                                <br />
                                <br />
                                <a href="javascript:void(0)" class="bLogin bProfile addnewcommunity">
                                    Save
                                </a>
                            </div>
							</form>
                        </div>
                        <!-- profile : e -->
                        <div class="clearit"></div>
                    </div>
                </div>
          