 
               <div class="headerCategories">
					<?=$this->view('frontend/setting/setting-nav')?>
                </div>
                <!-- header categories : e -->
                <!-- content right : s -->
                <div class="contentRight boxRead">
                    <div class="contentRightIn">
                        <br />
                        <br />
                        <br />
                        <!-- profile : s -->
                        <div class="profile clearfix">
                            <div class="photoProfile left">
                                <img src="images/profile.jpg">
                                <a href="#" class="changeProfile">change picture</a>
                            </div>
                            <div class="detailProfile left">
                                <!-- list : s -->
                                <div class="titleProfile">
                                    <span class="mainTitle">Full Name</span>
                                    <span class="contentForm">
                                        <input type="text" value="Rizki Mardita" />
                                    </span>
                                </div>
                                <!-- list : e -->
                                <br />
                                <!-- list : s -->
                                <div class="titleProfile">
                                    <span class="mainTitle">Description</span>
                                    <span class="contentForm">
                                        <textarea type="text" >Syok, Zack Lee Hampir Menangis Dengar Roger Danuarta Overdosis</textarea>
                                    </span>
                                </div>
                                <!-- list : e -->
                                <br />
                                <!-- list : s -->
                                <div class="titleProfile">
                                    <span class="mainTitle">Birthday</span>
                                    <span class="contentForm">
                                        <select>
                                            <option>Day</option>
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                        <select>
                                            <option>Month</option>
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                        <select>
                                            <option>Year</option>
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                    </span>
                                </div>
                                <!-- list : e --><br />
                                <!-- list : s -->
                                <div class="titleProfile">
                                    <span class="mainTitle">Gender</span>
                                    <span class="contentForm">
                                        <select>
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </span>
                                </div>
                                <!-- list : e -->
                                <br />
                                <br />
                                <br />
                                <a href="#" class="bLogin bProfile">
                                    Save
                                </a>
                            </div>
                        </div>
                        <!-- profile : e -->
                        <div class="clearit"></div>
                    </div>
                </div>
                <!-- content right : e -->
           
    <script>
        $(document).ready(function() {
            // initialize tabs headline
            $("#tab_nav ul").tabs("#panes > div", {event:'mouseover'});
            // initialize scrollable
            $(".scrollable").scrollable();
            // initialize tabs pemilu dari masa ke masa
            $("ul.tabs").tabs("div.panes > div");
        });
    </script>
 