 
               <div class="headerCategories">
					<?=$this->view('frontend/setting/setting-nav')?>
					
                </div>
                <!-- header categories : e -->
                <!-- content right : s -->
				 
                <div class="contentRight boxRead">
                    <div class="contentRightIn">
                        <br />
                        <br />
                        <br />
                        <!-- profile : s -->
						<form id="updateProfile" method="POST" action=""   >
                        <div class="profile clearfix">
                            <div class="photoProfile left ">
                                <span class="previewimages    " ><img src="<?=$users['img']?>" /></span>
                                <a href="javascript:void(0)" class="openuploadvertion changeProfile">change picture</a>
									<input type="file" style="display:none" class="imagesvertion" name="images" />
									<input type="hidden"  class="hasimages" value="" />
                            </div>
                            <div class="detailProfile left">
                                <!-- list : s -->
                                <div class="titleProfile">
                                    <span class="mainTitle">My Name</span>
                                    <span class="contentForm">
                                        <input  name="fullname" type="text" placeholder="My Fullname" class="fullnameTxt" value="<?=$users['name']?> <?=$users['lastname']?>"  />
                                    </span>
                                </div>
                                <!-- list : e -->
                                <br />
                                <!-- list : s -->
                                <div class="titleProfile">
                                    <span class="mainTitle">About Me</span>
                                    <span class="contentForm">
                                        <textarea  name="aboutme" type="text" placeholder="Who am I" class="aboutmeTxt"  > </textarea>
                                    </span>
                                </div>
                                <!-- list : e -->
                                <br />
                                <!-- list : s -->
                                <div class="titleProfile">
                                    <span class="mainTitle">My Birthday</span>
                                    <span class="contentForm">
                                        <select class="dob_d"  name="dob_d" >
                                            <option>Day</option>
											<?php $dob = explode('-',$users['birthday']) ;?>
											<?php for($i=1;$i<=31;$i++) : ?>
											<?php $days = ($i<10) ? "0{$i}" : $i ; ?>
                                            <option value="<?=$days?>" <?php echo ($dob[2]==$days) ? 'selected' : '' ; ?> ><?=$i?></option> 
											<?php endfor; ?>
                                        </select>
                                        <select  class="dob_m"   name="dob_m" >
                                            <option>Month</option>
											<?php for($i=1;$i<=12;$i++) : ?>
											<?php $intMonth = ($i<10) ? "0{$i}" : $i ; ?>
											<?php $month = date("F",strtotime("2014-{$intMonth}-01")); ?>
                                            <option value="<?=$intMonth?>" <?php echo ($dob[1]==$intMonth) ? 'selected' : '' ; ?>  ><?=$month?> </option> 
											<?php endfor; ?>
                                             
                                        </select>
                                        <select  class="dob_y"  name="dob_y"  >
                                            <option>Year</option>
                                            <?php $sYear = date("Y",strtotime("-50 year")) ; ?>
                                            <?php $nYear = date("Y") ; ?> 
											<?php for($i=$sYear;$i<=$nYear;$i++) : ?>
                                            <option value="<?=$i?>"  <?php echo ($dob[0]==$i) ? 'selected' : '' ; ?>   ><?=$i?></option> 
											<?php endfor; ?>
                                        </select>
                                    </span>
                                </div>
                                <!-- list : e --><br />
                                <!-- list : s -->
                                <div class="titleProfile">
                                    <span class="mainTitle">My Gender</span>
                                    <span class="contentForm">
                                        <select class="gennderTxt"  name="gender"  >
                                            <option value="M"  <?php echo ($users['gender']=="M") ? 'selected' : '' ; ?>   >Male</option>
                                            <option value="F"  <?php echo ($users['gender']=="F") ? 'selected' : '' ; ?>   >Female</option>
                                        </select>
                                    </span>
                                </div>
                                <!-- list : e -->
                                <br />
                                <br />
                                <br />
                                <a href="javascript:void(0)" class="bLogin bProfile saveMyProfile" >
                                    Save
                                </a>
                            </div>
                        </div>
						</form>
                        <!-- profile : e -->
                        <div class="clearit"></div>
                    </div>
                </div>
                <!-- content right : e -->
           
    <script>
        $(document).ready(function() {
            // initialize tabs headline
            $("#tab_nav ul").tabs("#panes > div", {event:'mouseover'});
            // initialize scrollable
            $(".scrollable").scrollable();
            // initialize tabs pemilu dari masa ke masa
            $("ul.tabs").tabs("div.panes > div");
        });
		
		
    </script>
 