 <div class="headerCatIn">
                        <div class="categoriesAvatar2 left"></div>
							 <div class="left">
								<div class="backtoCat">
									<a href="index.html">
										<i class="icon-angle-left"></i>Back to Home</a>
								</div>
							</div>
                        <div class="shareButton right">
                            <a href="<?=BASE_PATH?>setting/profile">Profile</a>
                            <a href="<?=BASE_PATH?>setting/account">Account</a>
                            <a href="<?=BASE_PATH?>setting/community">Community</a>
                           <!--
							<a href="#">Notifications
                                <span class="">XX</span>
                            </a>
							-->
                        </div>
                    </div>
                    <div class="clearit"></div>