<?php foreach($timeline as  $val) : ?>
<div class="headerCategories">
                    <div class="headerCatIn">
                        <div class="categoriesAvatar2 left"></div>
                        <div class="left">
                            <div class="backtoCat">
                                <a href="<?=BASE_PATH?>homepage">
                                    <i class="icon-angle-left"></i>Back to Basket</a>
                            </div>
                           
					</div>
                        <div class="shareButton right">
                            <a href="javascript:void(0)" class="addcool"  vsid="<?=$val['vsid']?>" ct="<?=$val['cool']['total']?>" cid="<?=$val['id']?>" >
                                <i class="icon-thumbs-up" ></i>Cool <span class="vcool<?=$val['id']?>"><?=$val['cool']['total']?></span></a>
                            <a href="#">
                                <i class="icon-facebook-1"></i>Share <span class="">0</span></a>
                            <a href="#">
                                <i class="icon-twitter-1"></i>Twitter <span class="">0</span></a>
                        </div>
                    </div>
                    <div class="clearit"></div>
                </div>
                <!-- header categories : e -->
                <!-- content right : s -->
				 <?php
					$items = 3;
					if($val['imagesdata']['image_type']=='L')$items = 2;
					if($val['imagesdata']['image_type']=='P')$items = 3;
					if($val['imagesdata']['image_type']=='B')$items = 3;
				 ?>
				<?php if($items==3) : ?>
					<div class="contentRight boxRead" id="commentBox">
						
						<div class="contentRightIn">
							<br />
							<br />
							<div class="imgCatCont left">
								<img src="<?=$val['imagesdata']['image_full_path']?>">
							</div>
							<div class="detailCatCont left">
								<div class="tagCat">
									<a href="#"> <?=$val['category_name']?> </a>&nbsp; <?=$val['createddate']?></div>
								<h1><?=$val['caption']?></h1>
							   <?php if($val['creator']) :?>
								<a href="#" class="author">by  <?=$val['creator']['fullname']?> </a>
								<br/>
								<a href="#" class="author">join date <?=$val['creator']['createddate']?>   </a>
								<?php endif ; ?>
								<div class="DesIntro">
									<br />
									<?=$val['content']?>
								</div>
								 <a href="javascript:void(0)" class="totCom"> </a>
									<!-- add comment : s -->
									<div class="addCom">
										<textarea placeholder="Add Comment ..." class="addSocialComment"  vsid="<?=$val['vsid']?>" >
										
										</textarea>									
									</div>
									<!-- add comment : e -->
								<div class="commentBox" vsid="<?=$val['vsid']?>" >

								  
								  
									<!-- list comment : s -->
									<?php if($val['comment']['total']>0) : ?>
									<?php foreach($val['comment']['users'] as $keys => $comment) : ?>
									<div class="listComment clearfix">
										<div class="imgProfCom left"></div>
										<div class="boxNameCom left">
											<a href="#"><?=$comment['fullname']?></a>
											<h6>&nbsp;  <?=$comment['createddate']?></h6>
											<p><?=$comment['comment']?></p>
										</div>
									</div>
									
										<?php if($keys==-1) : ?>
											<a href="javascript:void(0)" class="totCom loadmorecomment">
											<i class=" icon-comment-alt"></i><?=$val['comment']['total']?> more comments<i class="icon-down-micro"></i>
											</a>
										<?php endif ?>
									 <?php endforeach ?>
									<?php endif ?>
									<!-- list comment : e -->
								</div>
							</div>
							<div class="clearit"></div>
						</div>
						
					</div>
					
				<?php else : ?>
					<div class="contentRight boxRead" id="commentBox">
						
						<div class="contentRightIn">
							<br />
							<br />
							<div class="imgCatCont left w93"  >
								<img  class="w100"   src="<?=$val['imagesdata']['image_full_path']?>"  />
							</div>
							
							<div class="detailCatCont left w40"  >
							 <a href="javascript:void(0)" class="totCom"> </a>
								<div class="tagCat">
									<a href="#"> <?=$val['category_name']?> </a>&nbsp; <?=$val['createddate']?></div>
								<h1><?=$val['caption']?></h1>
							   <?php if($val['creator']) :?>
								<a href="#" class="author">by  <?=$val['creator']['fullname']?> </a>
								<br/>
								<a href="#" class="author">join date <?=$val['creator']['createddate']?>   </a>
								<?php endif ; ?>
								<div class="DesIntro">
									<br />
									<?=$val['content']?>
								</div>
								 
							</div>
							 
							<div class="detailCatCont right"    >
								 
								 <a href="javascript:void(0)" class="totCom"> </a>
									<!-- add comment : s -->
									<div class="addCom">
										<textarea placeholder="Add Comment ..." class="addSocialComment"  vsid="<?=$val['vsid']?>" >
										
										</textarea>									
									</div>
									<!-- add comment : e -->
								<div class="commentBox" vsid="<?=$val['vsid']?>" > 
								  
									<!-- list comment : s -->
									<?php if($val['comment']['total']>0) : ?>
									<?php foreach($val['comment']['users'] as $keys => $comment) : ?>
									<div class="listComment clearfix">
										<div class="imgProfCom left"></div>
										<div class="boxNameCom left">
											<a href="#"><?=$comment['fullname']?></a>
											<h6>&nbsp;  <?=$comment['createddate']?></h6>
											<p><?=$comment['comment']?></p>
										</div>
									</div>
									
										<?php if($keys==-1) : ?>
											<a href="javascript:void(0)" class="totCom loadmorecomment">
											<i class=" icon-comment-alt"></i><?=$val['comment']['total']?> more comments<i class="icon-down-micro"></i>
											</a>
										<?php endif ?>
									 <?php endforeach ?>
									<?php endif ?>
									<!-- list comment : e -->
								</div>
							</div>
							<div class="clearit"></div>
						</div>
						
					</div>
				<?php endif; ?>
    <?php endforeach ?>         
 <script>
		
			var limit = 5;
		 	
			$(document).ready(function(){
				$("#commentBox").scroll(function() { 
				 
					  if( $(this).scrollTop() >= this.scrollTopMax ) callPaging('commentPaging','.commentBox',limit,false); 
				});
			});
</script>