<!---------   s: footer -------------->
<div class="footerSheet">
<div class="footerContent">


<div class="mTop10 mBottom10" align="center">
<table  cellspacing="0" cellpadding="0" >
<tr><th>AdsBox</th><th class="borderDashLeft">Term & Condition</th><th>Developing</th><th class="borderDashRight">Pirating</th><th>Social Network</th></tr>
<tr height="430px;"><td>&nbsp;</td><td class="borderDashLeft">&nbsp;</td><td>&nbsp;</td><td class="borderDashRight">&nbsp;</td></tr>

</table>
</div>
<div class="developer floatLeft">Copyright of Bummi D Putera, 2012</div>
<div class="developer floatRight">This Web in Production Phase</div>
<div class="clearBoth"> </div>
</div>
<!---------   e: footer -------------->


</div>

