
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<?php if( $this->load->controller()=='share' ): ?>
<?php foreach($timeline as  $val) : ?> 
<meta content="Ads Blocks" property="og:site_name">
<meta content="<?=$val['caption']?>" property="og:title">
<meta content="website" property="og:type">
<meta content="<?=BASE_PATH."share/?g=layer&vsid=".$val['vsid']?>" property="og:url">
<meta content="<?=$val['imagesdata']['image_full_path']?>" property="og:image">
<meta content="en_US" property="og:locale">
<meta content="<?=strip_tags($val['content'])?>" property="og:description"> 
 
<?php endforeach; ?>         
<?php endif; ?>


        <title>Ads - Blocks </title>
        <link href="<?=ASSETS_PATH?>web/css/style.css" rel="stylesheet" type="text/css" />
        <link href="<?=ASSETS_PATH?>web/css/fonts.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="<?=ASSETS_PATH?>web/css/fontello.css">
        <link rel="stylesheet" href="<?=ASSETS_PATH?>web/css/animation.css">
        <!--[if IE 7]>
            <link rel="stylesheet" href="css/fontello-ie7.css">
        <![endif]-->
      
        <script src="<?=ASSETS_PATH?>web/js/jquery-1.8.2.js"></script>
        <script src="<?=ASSETS_PATH?>web/js/jquery-ui-1.8.min.js"></script> 
      
        <script src="<?=ASSETS_PATH?>web/js/script.js"></script>
		
		<script src="<?=ASSETS_PATH?>web/js/masonry.pkgd.min.js"></script>
		<script>
            var isactivepages ='<?=$this->load->controller()?>';
			var locale = <?=LOCALE?>;
			var basedomain = '<?=BASE_PATH?>';
        </script>
		
		<!-- ALL SCRIPT ON PAGE GOES HERE (HELPER,VIEW,SOMETHING,CSS) -->
			<style>
				.loadingContentBox{
					width: 100%; display: inline-block; height: 300px; text-align: center;
				}
				
				.loadingContentBoxLabel{
					background-color: #B8B8B8;
					display: inline-block;
					height: 25px;
					margin: 20px;
					padding: 10px;
					text-align: center;
					width: 75%;
				}
				.w40{
					width:35% !important;
				}
				.h0{
					height:0 !important;
				}
				.w25{
					width:25% !important;
				}
				.w93{
					width:93% !important;
				}
				
				.w100{
					width:100% !important;
				}
				.top43{
					top:43% !important;
				}
				.top0{
					top:0 !important;
				}
				.left34{
					left:34% !important;
				}
				.left0{
					left:0 !important;
				}
				.margin0{
					margin:0 !important;
				} 
				.posFix{
					position:fixed !important;
				}
				.posRel{
					position:relative !important;
				}
				.zind1{
						z-index:1 !important;
				}
				.topM90{
						top:-88px !important;
				}
				.maxHeight100{
						max-height:100% !important;
				}
				.maxWidth100{
						max-width:100% !important;
				}
				.right{
					float:right ;
				}
				 
		</style>	
        <script src="<?=ASSETS_PATH?>web/js/apps/contentScript.js"></script>

		<script>
            function toggleCodes(on) {
                var obj = document.getElementById('icons');
                
                if (on) {
                  obj.className += ' codesOn';
                } else {
                  obj.className = obj.className.replace(' codesOn', '');
                }
              }
			var container = false;
				var msnry = false;
		$(function()  {
			// masonry 
				var $container = $('#timelinepagesCont');
				// initialize
				
				  $container.masonry({
					columnWidth: 1,
					itemSelector: '.box'
					});
				
			
		});
		
 
				
			 
        </script>