
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>ADS BLOCK</title>
        <link href="<?=ASSETS_PATH?>web/css/style.css" rel="stylesheet" type="text/css" />
        <link href="<?=ASSETS_PATH?>web/css/fonts.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="<?=ASSETS_PATH?>web/css/fontello.css">
        <link rel="stylesheet" href="<?=ASSETS_PATH?>web/css/animation.css">
        <!--[if IE 7]>
            <link rel="stylesheet" href="css/fontello-ie7.css">
        <![endif]-->
      
        <script src="<?=ASSETS_PATH?>web/js/jquery-1.8.2.js"></script>
        <script src="<?=ASSETS_PATH?>web/js/jquery-ui-1.8.min.js"></script>
      
        <script src="<?=ASSETS_PATH?>web/js/script.js"></script>
		<script>
            var isactivepages ='<?=$this->load->controller()?>';
			var locale = <?=LOCALE?>;
			var basedomain = '<?=BASE_PATH?>';
        </script>
		
		<!-- ALL SCRIPT ON PAGE GOES HERE (HELPER,VIEW,SOMETHING,CSS) -->
			<style>
				.loadingContentBox{
					width: 100%; display: inline-block; height: 300px;
				}
				
				.loadingContentBoxLabel{
					background-color: #B8B8B8;
					display: inline-block;
					height: 25px;
					margin: 20px;
					padding: 10px;
					text-align: center;
					width: 94%;
				}
					
		</style>	
        <script src="<?=ASSETS_PATH?>web/js/apps/contentScript.js"></script>

		<script>
            function toggleCodes(on) {
                var obj = document.getElementById('icons');
                
                if (on) {
                  obj.className += ' codesOn';
                } else {
                  obj.className = obj.className.replace(' codesOn', '');
                }
              }
        </script>