
                <!-- content left : s -->
                <div class="contentLeft">
                    
                    <br />
                    <br />
                    <br />
                    <!-- buttonNav : s -->
					<br />
                    <!-- buttonNav : e -->
                    <!-- username & help : s -->
                <div class="userNameHelp clearfix">
                    <div class="userName left">
                        <div class="imgUserName left"></div>
                        <a href="#"><?=$nickname?>
 
                        </a>
                    </div>
 
                </div>
                <!-- username & help : e -->
                    <!-- categories : s -->
                    <div class="categories">
                        <h1>social
                      
                        </h1>
                        <ul>
                            <li class="clearfix active">
 
                                <div class="categoriesTitle lefte"><a href="index.html" class="active">Home</a></div>
                            </li>
                            <li class="clearfix active">
 
                                <div class="categoriesTitle lefte"><a href="#">My Inbox</a></div>
                            </li>
                            <li class="clearfix">
 
                                <div class="categoriesTitle left"><a href="myprofile.html">My Profile</a></div>
                            </li>
                            <li class="clearfix">
 
                                <div class="categoriesTitle left"><a href="#">Notifications</a></div>
                            </li>
                            <li class="clearfix">
 
                                <div class="categoriesTitle left"><a href="#">Find Friends</a></div>
                            </li>
                            
                            
                        </ul>
                    </div>
                    <!-- categories : e -->
                    <!-- categories : s -->
                    <div class="categories">
                        <h1>Your Communities
                            <i class="icon-plus-circle plusCategories"></i>
                        </h1>
                        <ul>
                            <li class="clearfix active">
                                <!-- <div class="categoriesAvatar left"></div>-->
                                <div class="categoriesTitle lefte">
                                    <a href="#">Rackters</a>
                                </div>
                            </li>
                            <li class="clearfix">
                                <!-- <div class="categoriesAvatar left"></div>-->
                                <div class="categoriesTitle left">
                                    <a href="#">Fcore</a>
                                </div>
                            </li>
                            <li class="clearfix">
                                <!-- <div class="categoriesAvatar left"></div>-->
                                <div class="categoriesTitle left">
                                    <a href="#">Siskom UG</a>
                                </div>
                            </li>
                            <li class="clearfix">
                                <!-- <div class="categoriesAvatar left"></div>-->
                                <div class="categoriesTitle left">
                                    <a href="#">ACSL Lab</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- categories : e -->
                    <!-- categories : s -->
                    <div class="categories">
                        <h1>settings
                  
                        </h1>
                        <ul>
                            <li class="clearfix">
 
                                <div class="categoriesTitle left"><a href="#">Profile</a></div>
                            </li>
                            <li class="clearfix">
 
                                <div class="categoriesTitle left"><a href="#">Account</a></div>
                            </li>
                            <li class="clearfix">
 
                                <div class="categoriesTitle left"><a href="#">Notifications</a></div>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- categories : e -->
                    <!-- categories : s -->
                    <div class="categories" style="border-top:solid px #202020;">
                        <h1>
 
                        </h1>
                        <ul>
                            <li class="clearfix">
 
                                <div class="categoriesTitle left"><a href="#">Help</a></div>
                            </li>
                            <li class="clearfix">
 
                                <div class="categoriesTitle left"><a href="<?=BASE_PATH?>logout">Logout</a></div>
                            </li>
                           
                            
                        </ul>
                    </div>
                    <!-- categories : e -->
                </div>
                <!-- content left adefsfsdfdsf: e -->
                <!-- dropdown collections : s -->
                <div class="dropdownCollections" id="dropdownHobby">
                    <ul>
 
                        <li>
                            <a href="#">All</a>
                        </li>
                        <li>
                            <a href="#">Basket</a>
                        </li>
                        <li>
                            <a href="#">Game</a>
                        </li>
                        <li>
                            <a href="#">Gadget</a>
                        </li>
                        <li>
                            <a href="#">Otomotive</a>
                        </li>
                        <li>
                            <a href="#">Toys</a>
                        </li>
                        <li>
                            <a href="#">Anime / Manga</a>
                        </li>
                    </ul>
                </div>
                <!-- dropdown collection : e -->
                <!-- dropdown myresources : s -->
                <div class="dropdownCollections" id="dropdownResources">
                    <ul>
 
                        <li>
                            <a href="#">All</a>
                        </li>
                        <li>
                            <a href="#">Photos</a>
                        </li>
                        <li>
                            <a href="#">Videos</a>
                        </li>
                        <li>
                            <a href="#">Tutorials</a>
                        </li>
                        <li>
                            <a href="#">Inspirations</a>
                        </li>
                        <li>
                            <a href="#">Collections</a>
                        </li>
                        <li>
                            <a href="#">Review</a>
                        </li>
                    </ul>
                </div>
                <!-- dropdown myresources : e -->
                <!-- header categories : s -->
                <div class="headerCategories">
 
                    <div class="clearit"></div>
                    <!-- bar cat : s -->
                    <div class="barCat clearfix">
                        <!-- menuCat : s -->
                        <div class="left">
                            <div class="menuInCat left">
								<a href="#" class="plusNewHome">
									<i class=" icon-upload-1"></i>&nbsp;Upload</a>
							</div>
                          
                        </div>
                        <!-- menuCat : e -->
                        <!-- sort filter search : s -->
                        <div class="left">
                             
 
                        </div>
                        <!-- sort filter search : e -->
                    </div>
                    <!-- bar cat : e -->
                </div>
                <!-- header categories : e -->