 <!-- header : s -->
            <div class="header clearfix">
                <!-- logo : s -->
                    <div class="logo left">
                        <img src="<?=ASSETS_PATH?>web/images/logo.png">
                    </div>
                    <!-- logo : e -->
                <!-- menu top : s -->
                <div class="menuTop left">
				<?php if($this->load->controller()!='login'): ?>
                    <ul>
                        <li>
                            <a href="#" id="listProduct">Hobby<i class="icon-down-micro"></i></a>
                        </li>
                        <li>
                            <a href="#" id="myResources">Resources<i class="icon-down-micro"></i></a>
                        </li>
                        <li>
                            <a href="#">Shop</a>
                        </li>
                    </ul>
				<?php endif ?>
                 </div>
                <!-- menu top : e -->
                <!-- search : s -->
                <div class="search1 right">
                    <i class="icon-search"></i>&nbsp;
                    <input class="defaultText" type="text" value="Search" />
                </div>
                <!-- search : e -->
                
            </div>