
<div class="contentWork">

<!---------   s: Header -------------->
<div class="headerSheet">

<div class="topHeader">
<img class="adsHeader" src="<?=ASSETS_PATH?>public/images/GalaxyS_wifi5-0.jpg">
</div>
<div class="bottomHeader">
<div class="search floatRight">Search <input type="text" ></div>
</div>
<div class="clearBoth"> </div>
</div>


<!---------   e: Header -------------->

<!---------   s: worksheet -------------->
<div class="workSheet">
<div class="clearBoth"> </div>

<div class="diffWork">
<div class="bottomHeader mBottom10">
<div class="search floatRight"><b>Your's Ads</b></div>
</div>

<div class="floatLeft">

<div class="leftContents ">
<div class="adsContent"><img src="<?=ASSETS_PATH?>public/images/3292942212_7e589bb46d_o.jpg"></div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="<?=BASE_PATH?>profile">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="<?=BASE_PATH?>profile">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="<?=BASE_PATH?>profile">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment"><input type="text"></div>
</div>
<div class="leftContents ">
<div class="adsContent"><img src="<?=ASSETS_PATH?>public/images/nokia_n96_by_hilall2006.jpg"></div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="<?=BASE_PATH?>profile">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="<?=BASE_PATH?>profile">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="<?=BASE_PATH?>profile">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment"><input type="text"></div>
</div>
</div>

<div class="floatLeft">

<div class="rightContents ">
<div class="adsContent"><img src="<?=ASSETS_PATH?>public/images/EYsJpBlJcUwJCRJj.jpg"></div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment"><input type="text"></div>
</div>

<div class="rightContents ">
<div class="adsContent"><img src="<?=ASSETS_PATH?>public/images/cRxBHu0bFslAau4E.jpg"></div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment"><input type="text"></div>
</div>

</div>

<div class="clearBoth"> </div>
</div>



</div>

<div class="sideRight">
<div class="rightBoxContent">
<div class="Title greenBackground"><div>Account</div><div>Info</div></div>
<div class="greenText"><a href="<?=BASE_PATH?>profile">Arukaterra</a></div>
<div class="greenText">Jakarta, 16 September</div>
<div class="greenText">Bogor</div>
<div class="greenText"><a href="">Company</a></div>
<div class="greenText">Fusion Core Studio</div>
<div class="greenText">Chief Information Officer</div>
<div class="greenText">Depok, Bussiness Park A1-1</div>
<div class="greenText"><a href="<?=BASE_PATH?>account/logout">Log Out</a></div>
</div>


<div class="rightBoxContent pTop10">
<div class="Title greenBackground"><div>Settings</div></div>
<div class="greenText"><a href="">Account Settings</a></div>
<div class="greenText"><a href="">Security Settings</a></div>
</div>

</div>
<!---------   e: worksheet -------------->

