<div class="boxUpload" id="boxUpload">
		<!-- content upload : s -->
	<form id="postform" method="POST" action=""   >
	<div class="boxUploadIn">
		<br />
		<br />
		<div class="imgCatCont2 left">
			<a href="javascript:void(0)" class="openuploadvertion top43 left34 margin0 posRel left zind1 h0"><i class=" icon-camera-1  "></i><br />Upload Images</a>
			<span class="previewimages    " ></span>
			
			<input type="file" style="display:none" class="imagesvertion" name="images" />
			<input type="hidden"  class="hasimages" value="" />
		</div>
		<div class="detailCatCont left">
			<div class="tagCat">
				<h1>
					<input class="titleUpload" name="caption" type="text" value="" placeholder="Title ..." />
					</h1>
				<div class="DesIntro">
					<br />
					<textarea class="descUpload" name="content" placeholder="Description" ></textarea>
				</div>
			
			</div>
		</div>
		<!-- content upload : e -->
	</div>
	</form>
</div>