
      

                <!-- content right : s -->
                <div class="contentRight" id="timelinepages" >
                    <div class="timelinepages contentRightIn js-masonry" id="timelinepagesCont" data-masonry-options='{ "columnWidth": 1, "itemSelector": ".box" }' >
						<?=$this->view('frontend/widgets/upload-box')?>
						
						<?php foreach($stickyads as $val) : ?>
                        <div class="item box stickypaths">
                            <div class="itemText">
                                <div class="left"><a href="#" class="CatTag">
                                        <?=$val['category_name']?>
                                    </a></div>
                                <div class="right">
                                <span>
								<?php if($val['cool']['me']) : ?>
                                    <i class="icon-thumbs-up addcool"  cid="<?=$val['id']?>" vsid="<?=$val['vsid']?>" ct="<?=$val['cool']['total']?>"  >&nbsp;<span class="vcool<?=$val['id']?> top0 posRel left0 " coolme="<?=$val['cool']['me']?>" ><?=$val['cool']['total']?></span></i>
                                    
								 <?php else : ?>
									 <i class="icon-thumbs-down addcool"  cid="<?=$val['id']?>" vsid="<?=$val['vsid']?>" ct="<?=$val['cool']['total']?>"  >&nbsp;<span class="vcool<?=$val['id']?> top0 posRel left0" coolme="<?=$val['cool']['me']?>" ><?=$val['cool']['total']?></span></i>
                                   
								 <?php endif ; ?>
								  <i class="icon-comment-1">&nbsp;<?=$val['comment']['total']?></i>
                                </span>
                                </div>
                                <div class="clearit"></div>
                                <a href="<?=BASE_PATH."post/detail/?g=layer&vsid=".$val['vsid']?>"  class="aMainCon titleBlock showdetail" vsid="<?=$val['vsid']?>" ><?=$val['content']?></a>
                            </div>
                            <div class="itemImg">
                                <img src="<?=$val['imagesdata']['image_full_path']?>" />
                            </div>
                    
                            <div class="mainComment">'
								<?php if($val['comment']['total']>0) : ?>
								
								<?php foreach($val['comment']['users'] as $ckeys=> $comment) : ?>
                                <div class="listComment listCommentMain clearfix">
                                    <div class="imgProfCom left" ><img src="<?=$comment['img']?>"  class="imgProfCom" /></div>
                                    <div class="boxNameCom left">
                                        <a href="#"><?=$comment['fullname']?></a>
                                        <h6>&nbsp; - <?=$comment['createddate']?></h6>
										<?php if($ckeys==0) : ?><a href="#"> - first comments </a> <?php endif ?>
										<?php if($ckeys==1) : ?><a href="#"> - lastest comments </a> <?php endif ?>
                                        <p class="pMainComm"><?=$comment['comment']?></p>
                                    </div>
                                </div>
								 <?php if($ckeys==1) : ?>
									 <?php if($val['comment']['total']>2) : ?>
										<a href="<?=BASE_PATH."post/detail/?g=layer&vsid=".$val['vsid']?>" class="totCom">
											<i class=" icon-comment-alt"></i><?=($val['comment']['total']-2)?> more comments<i class="icon-down-micro"></i>
											</a>
									 <?php endif ; ?>
								 <?php endif ; ?>
                                <?php endforeach ; ?>
								
                                <?php endif ?>
                             </div>
 
                        </div>
						<?php endforeach ?>
						  
						<?php foreach($timeline as  $val) : ?>
						 <?php
							$items = 3;
							$vitems = 3;
							if($val['imagesdata']['image_type']=='L'){ $items = 2; $vitems = 2; }
							if($val['imagesdata']['image_type']=='P'){ $items = 4; $vitems = 2; }
							if($val['imagesdata']['image_type']=='P5'){ $items = 5; $vitems = 2; }
							if($val['imagesdata']['image_type']=='B')  $items = 3;
						 ?>
					 
                        <div class="ads-block-timeline item<?=$items?> box v<?=$vitems?>" style="margin:5px" >
                            <div class="itemText">
                                <div class="left"><a href="#" class="CatTag">
                                         <?=$val['category_name']?>
                                    </a></div>
                                <div class="right">
                                <span>
									<?php if($val['cool']['me']) : ?>
										<i class="icon-thumbs-up addcool"  cid="<?=$val['id']?>" vsid="<?=$val['vsid']?>" ct="<?=$val['cool']['total']?>"  >&nbsp;<span class="vcool<?=$val['id']?> top0 posRel left0" coolme="<?=$val['cool']['me']?>" ><?=$val['cool']['total']?></span></i>
									<?php else : ?>
										<i class="icon-thumbs-down addcool"  cid="<?=$val['id']?>" vsid="<?=$val['vsid']?>" ct="<?=$val['cool']['total']?>"  >&nbsp;<span class="vcool<?=$val['id']?> top0 posRel left0" coolme="<?=$val['cool']['me']?>" ><?=$val['cool']['total']?></span></i>
									<?php endif ; ?>
                                    <i class="icon-comment-1">&nbsp;<?=$val['comment']['total']?></i>
                                </span>
                                </div>
                                <div class="clearit"></div>
								 
                            <a href="<?=BASE_PATH."post/detail/?g=layer&vsid=".$val['vsid']?>"   class="titleBlock"  vsid="<?=$val['vsid']?>" >
								<?php if($items==3) : ?>  
										<?=$val['caption']?>
								<?php else : ?>
										<?=$val['caption']?>
								<?php endif ?>
								</a>
                            </div>
                            <div class="itemImg">
                                <img src="<?=$val['imagesdata']['image_full_path']?>" />
                            </div>
                        </div>
                       <?php endforeach ?>
                      
                    </div>
					  <div class="clearit"></div>
                </div>
                <!-- content right : e -->
<script>
		
			var limit = 6;
		 	
			$(document).ready(function(){
				$("#timelinepages").scroll(function() { 
						var timelinepagesSpace = document.getElementById("timelinepages");
						var timelinepagesContSpace = document.getElementById("timelinepagesCont"); 
						var thisscrollTopMax = timelinepagesContSpace.clientHeight - timelinepagesSpace.clientHeight;
					 
					 
					  if( $(this).scrollTop() >= thisscrollTopMax ) callPaging('timelinePaging','.timelinepages',limit,false); 
				});
			});
			
		
</script>