

<div class="contentWork">

<!---------   s: Header -------------->
<div class="headerSheet">

<div class="topHeader">
<img class="adsHeader" src="<?=ASSETS_PATH?>public/images/new-zte-blade.jpg">
</div>
<div class="bottomHeader">
<div class="search floatRight">Search <input type="text" ></div>
</div>
<div class="clearBoth"> </div>
</div>


<!---------   e: Header -------------->

<!---------   s: worksheet -------------->
<div class="workSheet">
<div class="clearBoth"> </div>
<div class="diffWork">
<div class="bottomHeader mBottom10">
<div class="search floatRight"><b>Hits Ads</b></div>
</div>

<div class="floatLeft">
<div class="leftContents ">
<div class="adsContent"><img src="<?=ASSETS_PATH?>public/images/ipad-projector.jpg"></div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="<?=BASE_PATH?>profile">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="<?=BASE_PATH?>profile">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="<?=BASE_PATH?>profile">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment"><input type="text"></div>
</div>

</div>

<div class="floatLeft">
<div class="rightContents ">
<div class="adsContent"><img src="<?=ASSETS_PATH?>public/images/GalaxyS_wifi5-0.jpg"></div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="<?=BASE_PATH?>profile">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="<?=BASE_PATH?>profile">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="<?=BASE_PATH?>profile">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment"><input type="text"></div>
</div>

</div>

<div class="clearBoth"> </div>
</div>


<div class="diffWork">
<div class="adsScroll">

<div class="leftContents floatLeft">
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a target="_blank" href="">Desktop Based Application</a></div>
		<div class="floatRight"><span>Generaly</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">JAVA, <i><a target="_blank" href="">J2EE</a>, <a target="_blank" href="">J2SE</a>, <a target="_blank" href="">J2ME</a></i></div>
	<div class="userComment">Visual Basic, <i><a target="_blank" href="">.NET</a></i></div>
	<div class="userComment">C, <i><a target="_blank" href="">C#</a></i></div>	
</div>
</div>



<div class="leftContents floatLeft">
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a target="_blank" href="">Desktop Based Application</a></div>
		<div class="floatRight"><span>Generaly</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">JAVA, <i><a target="_blank" href="">J2EE</a>, <a target="_blank" href="">J2SE</a>, <a target="_blank" href="">J2ME</a></i></div>
	<div class="userComment">Visual Basic, <i><a target="_blank" href="">.NET</a></i></div>
	<div class="userComment">C, <i><a target="_blank" href="">C#</a></i></div>	
</div>
</div>


<div class="leftContents floatLeft">
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a target="_blank" href="">Desktop Based Application</a></div>
		<div class="floatRight"><span>Generaly</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">JAVA, <i><a target="_blank" href="">J2EE</a>, <a target="_blank" href="">J2SE</a>, <a target="_blank" href="">J2ME</a></i></div>
	<div class="userComment">Visual Basic, <i><a target="_blank" href="">.NET</a></i></div>
	<div class="userComment">C, <i><a target="_blank" href="">C#</a></i></div>	
</div>
</div>


<div class="leftContents floatLeft">
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a target="_blank" href="">Desktop Based Application</a></div>
		<div class="floatRight"><span>Generaly</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">JAVA, <i><a target="_blank" href="">J2EE</a>, <a target="_blank" href="">J2SE</a>, <a target="_blank" href="">J2ME</a></i></div>
	<div class="userComment">Visual Basic, <i><a target="_blank" href="">.NET</a></i></div>
	<div class="userComment">C, <i><a target="_blank" href="">C#</a></i></div>	
</div>

</div>
</div>
<div class="clearBoth"> </div>
</div>
<div class="diffWork">
<div class="bottomHeader mBottom10">
<div class="search floatRight"><b>Your's Ads</b></div>
</div>

<div class="floatLeft">



<div class="leftContents ">
<div class="adsContent"><img src="<?=ASSETS_PATH?>public/images/nokia_n96_by_hilall2006.jpg"></div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="<?=BASE_PATH?>profile">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="<?=BASE_PATH?>profile">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="<?=BASE_PATH?>profile">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment"><input type="text"></div>
</div>
</div>

<div class="floatLeft">

<div class="rightContents ">
<div class="adsContent"><img src="<?=ASSETS_PATH?>public/images/EYsJpBlJcUwJCRJj.jpg"></div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment"><input type="text"></div>
</div>

<div class="rightContents ">
<div class="adsContent"><img src="<?=ASSETS_PATH?>public/images/cRxBHu0bFslAau4E.jpg"></div>
<div class="adsComment">
	<div class="userInfoComment">
		<div class="floatLeft"><a href="">Arukaterra</a></div>
		<div class="floatRight"><span>Yesterday</span> <span>11:20 pm</span></div>
		<div class="clearBoth"> </div>
	</div>
	<div class="userComment">komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada,komentar dari mana aja yang penting ada</div>
</div>
<div class="adsComment"><input type="text"></div>
</div>
</div>

<div class="clearBoth"> </div>
</div>



</div>

<!---------   e: worksheet -------------->

