
           

                <!-- content right : s -->
                <div class="contentRight">
                    <div class="contentRightIn">
						<?php foreach($stickyads as $val) : ?>
                        <div class="item">
                            <div class="itemText">
                                <div class="left"><a href="#" class="CatTag">
                                        <?=$val['category_name']?>
                                    </a></div>
                                <div class="right">
                                <span>
                                    <i class="icon-thumbs-up">&nbsp;<?=$val['cool']['total']?></i>
                                    <i class="icon-comment-1">&nbsp;<?=$val['views']?></i>
                                </span>
                                </div>
                                <div class="clearit"></div>
                                <a href="readingPage.html"  class=" aMainCon titleBlock"><?=$val['content']?></a>
                            </div>
                            <div class="itemImg">
                                <img src="<?=ASSETS_PATH?>web/images/img3.jpg">
                            </div>
                            <!-- comment : s -->
                            <!-- list comment : s -->
                            <div class="mainComment">'
								<?php if($val['comment']['total']>0) : ?>
								<?php foreach($val['comment']['users'] as $comment) : ?>
                                <div class="listComment listCommentMain clearfix">
                                    <div class="imgProfCom left"></div>
                                    <div class="boxNameCom left">
                                        <a href="#"><?=$comment['fullname']?></a>
                                        <h6>&nbsp; - <?=$comment['createddate']?></h6>
                                        <p class="pMainComm"><?=$comment['comment']?></p>
                                    </div>
                                </div>
                                <?php endforeach ?>
                                <?php endif ?>
                             </div>
                                <!-- list comment : e -->
                            
                            <!-- comment : e -->
                        </div>
						<?php endforeach ?>
						<?php foreach($timeline as $val) : ?>
						<!-- have item,item2,item3 -->
						<?php $items = rand(2,3);?>
                        <div class="item<?=$items?>">
                            <div class="itemText">
                                <div class="left"><a href="#" class="CatTag">
                                         <?=$val['category_name']?>
                                    </a></div>
                                <div class="right">
                                <span>
                                    <i class="icon-thumbs-up">&nbsp;<?=$val['cool']['total']?></i>
                                    <i class="icon-comment-1">&nbsp;<?=$val['views']?></i>
                                </span>
                                </div>
                                <div class="clearit"></div>
                                <a href="readingPage.html"  class="titleBlock">
								<?php if($items==2) : ?>  
									<?=$val['caption']?>
								<?php else : ?>
										<?=$val['content']?>
								<?php endif ?>
								</a>
                            </div>
                            <div class="itemImg">
                                <img src="<?=ASSETS_PATH?>web/images/img5.jpg">
                            </div>
                        </div>
                       <?php endforeach ?>
                        <div class="clearit"></div>
                    </div>
                </div>
                <!-- content right : e -->
